# Python bytecode
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/
.venv/
.env/

# Django stuff
*.log
*.sqlite3
db.sqlite3
media/

# Environment variables
.env

# IDE and editor files
.vscode/
.idea/
*.swp
*.swo

# MacOS specific files
.DS_Store

# Windows specific files
Thumbs.db